@font-face {
    font-family: 'Freesentation Variable';
    src: url('/fonts/FreesentationVF.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Freesentation Variable', sans-serif;
    background: #0C0C10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 60%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 18px;
    margin: 0 0 12px;
    color: #e6e6e6;
}

/* Sheet Container */
.sheet-wrap {
    background-size: cover;
    height: 400px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;
    /* to 45deg */
    background-image: url('../imgs/sheet_bg.png'), linear-gradient(45deg, #1d1e23 0%, #585d6c 2%, #1d1e23 90%, #464951 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Sheet Title */
.title {
	font-size: 13px;
	color: #e6e6e6;
	margin-top: 8px;
}

/* Note Tool Tip */
.note-tip {
	position: fixed;
	pointer-events: none;
	padding: 6px 8px;
	background: #222;
	color: #fff;
	border-radius: 6px;
	font-size: 12px;
	display: none
}

.prompt-area {
    margin-top: 10px;
    height: 180px;
    border-radius: 8px;
    color: white;
    border: 1px solid transparent;
    background-image: linear-gradient(#18181f, #0c0c10), linear-gradient(45deg, #1d1e23 0%, #585d6c 2%, #1d1e23 90%, #464951 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.prompt-input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Freesentation Variable', sans-serif;
}